<h1>Searching for - <%= @search_term %></h1>
<p>Powered By Food2Fork.com</p>
<% if (@recipes.nil? or @recipes == []) %>
	<p> <h2>No recipes found.. Sorry</h2></p>
<% else %>
	<table border="1">
 		<tr>
 			<th>Image</th>
 			<th>Name</th>
 			<th>Rank</th>
 		</tr>
 		<% @recipes.each do |course| %>
 			<tr class=<%= cycle('even', 'odd') %>>
 				<td><%= link_to(image_tag(course["image_url"], height: '100', width: '100'), course["image_url"], :target => '_blank')%></td>
 				<td><%= link_to(sanitize(course["title"]), course["source_url"], :target => '_blank') %></td>
 				<td><%= course["social_rank"] %></td>
 			</tr>
 		<% end %>
	</table>
<% end %>